
/* fonts */
@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'poppinssemibold';
    font-size: 16px;
    color: #333;
}

.da-content{
    background-color: #F8F9FA;
    overflow: scroll;
    padding:50px;
    height: 100vh;
}

.da-sidebar{
    background-color: #fff;
    border-right: 2px solid #D3DDE5;
    height: 100vh;
   
}

.da-logo{
    height:100px;
    width: auto;
    margin-top: 60px;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

.da-system-title{
    font-family: 'poppinsbold';
    font-size:30px;
    text-align: center;
    margin-top:40px;
}


p{
    font-family: 'poppinssemibold';
}

h1{
    font-family: 'poppinsbold';
    font-size: 30px;
    text-align: center;
}

form{
    margin: 0 auto; 
    width: 300px;
}

input:focus{
    outline: none;
}

input[type=text],[type=password]{
    margin-bottom: 15px;
    width: 300px;
    height: 50px;
    display: block;
    padding: 15px;
    font-family: 'poppinslight';
    font-size: 16px;
    color: #333333;
    border-radius: 4px;
    border: 1px solid #DEE6EE;
    background-color: #F8F9FA;
}

input[type=button]{
    background-color: #1887E8;
    color: #fff;
    font-family: 'poppinssemibold';
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: 0;
    font-size: 18px;
}

input[type=button]:hover{
    cursor: pointer;
    background-color: #1574c7;
}

.da-reg{
    color: #1887E8;
    text-decoration: none;
}

.da-reg:hover{
    cursor: pointer;
}

.da-reg-cont{
    position:absolute;
    width: 100%;
    z-index: 1000;
    background-color: #1887e880;
    height: 100vh;
}

.da-reg-form{
    background-color: #fff;
    margin: 10% auto !important; 
    width: 345px !important;
    border-radius: 4px;
    border: none;
}

.center {
    margin: auto;
    width: 60%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hide {
    display: none;
}

.da-table{
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #D3DDE5;
    background-color: #fff;
    text-align: center;
}

th{
    font-family: 'poppinssemibold';
    font-size: 16px;
    color: #333333;
    height: 80px;
    background-color: #EEF2F6;
    border: 2px solid #D3DDE5;
}

.da-table tr{
    height: 50px;
    font-family: 'poppinssemibold';
    font-size: 12px;
}

.stripped{
    background-color: #F8F9FA;
}

#datepicker{
    display: inline;
    margin-left: 15px;
    width: 180px;
    margin-bottom: 0;
    background-color: #fff;
    font-family: 'poppinssemibold';
    font-size: 15px;
    height: 40px;
}

#timer{
    font-family: 'poppinssemibold';
    font-size: 36px;
    text-align: center;
}

.vl{
    border-left: 1px solid #eee;
    height: 50px;
    margin: 10px 10px 0 0;
    display: inline-block;
}

.log-btn{
    width: 148px !important;
    display: inline !important;
}

.results{
    display: inline;
    position: relative;
    top: 23px;
}


.print-div {
    float: right;    
    margin: 10px;
}


.print-div a {
    text-decoration: none;
}
